#bubl{
  
    font-family: 'Creepster', cursive;

    color: darkred;
}
#golovko{
    font-family: SansSerif ;
    color: aqua;
}
#honorovich{
    font-family:'Courier New', Courier, monospace;
    color: blueviolet;
}
#datskov{
    font-family: Chiller;
    color: gold;
}

#yefremenko{
    font-family: "Arial Black";
    color: coral;
}
#zanin{
    font-family: Chiller;
    color: #ff00ff;
}
 #zborshchenko{
     font-family: "Agency FB";
     color: yellow;
 }
 #ivanina{
     font-family: Consolas, "Book Antiqua";
     color: indigo;
 }